.header {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
}
.header-logo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}
.header-input {
  display: flex;
  align-items: center;

  width: 50%;

  border: 1px solid lightgray;
}
.header-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-input > input {
  flex: 1;
  outline: none;
  margin-left: 4px;
  font-size: 15px;
}

.header-button {
  color: gray;
  width: 60px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
}
.header-icon {
  margin-right: 15px;
}
